* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 80%;
    margin: auto;
}

#image-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.img-gif{
    width: 300px;
    height: 300px;
}



