* {
    margin: 0;
    padding: 0;
}
.logo {
    height: 200px;
}

#logo { 
    display: block;
    margin: auto;
    width: 50%;
    height: 200px;
}

.search_section {
    background-color: #edecec;
    text-align: center;
    height: 100px;
    margin-bottom:2px;

}

input[type="search"] {
    width: 300px;     
}

.search_buttons {
    padding: 0.5px;
}
.success {
    border-color: rgb(50, 133, 241);
}

.container {
    display: flex;
    gap: 1px; /* 1px space between boxes */
    text-align: center;
}

.search_details {
    background-color: aqua;
    height: 80px;
    flex: 1; /* Equal width */
    padding-top: 10px;
}

.search_details a {
    display: block; /* now it starts on a new line and can have width/height */
}

.google_details {
    background-color: rgb(35, 219, 219);
    flex: 1; /* Equal width */
    height: 80px;
    padding-top: 10px;
}
.google_details a {
    display: block; /* now it starts on a new line and can have width/height */
}

.subscribe {
    background-color: rgb(42, 202, 202);
    height: 90px;
    flex: 1; /* Equal width */
}

.subscribe_details { 
    display: inline-grid;
    gap: 1px; /* adds space between items */
    padding: 1px;
}

footer { 
    text-align: center;
    padding-top: 10px;
}

