.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 100px;
}

.quote #quote {
  font-size: 30px; 
  font-family: cursive;
  line-height: 50px;
}

.quote button {
  background-color: orange;
  border: none;
  height: 80px;
  width: 250px;
  font-size: 40px;
  color: white;
  margin-top: 20px;
}
